header{
    background-image:url("../Assets/Hero-bg.png");
    
}

.nav{
    display: flex;
    justify-content: space-between;
}

.header-title{
    text-align: center;
    color: #252432;
}

.Launch-live-button{
  color:antiquewhite;
  width: 200px;
}

.header desc{
   margin: 20px;
}
.btn-primary{
    display: block;
    margin: auto;
    background-color:#4E47FF;
    width: 160px;
    border-radius: 10px;
    height: 50px;
    color:antiquewhite;
}
.section-three-li-one{
    background-color:#FFFFFF;
}

.logo{
    margin: 50px;
    color: #4E47FF;
    width: 99px;
}

.Sign-Up{
    margin: 40px;
    background-color:#4E47FF;
    width: 140px;
    border-radius: 10px;
    height: 50px;
    color:antiquewhite;
}

.see-in-action{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    
}
.section-one-p{
    color:#252432;
}

.webflow-img{
    border-radius: 30px;
}

.Launch-live-button{
    background-color:#4E47FF;
    max-width: 340px;
    border-radius: 10px;
    height: 50px;
}
.section-two-h3{
    text-align: center;
    color: #252432;
}

.section-two{
    background-color:#D6DDED;
    padding: 20px;
    margin: 65px;
    border-radius: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
    margin: 40px;
}
 
.li-one{
    color:#4E47FF;
    font-size: 50px;
}

.li-one-p{
    font-size: 10px;
    color:#252432;
}
.ul-two{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px;
}

.section-three-p{
    color: #1E1E1E;
    width: 300px;
}
.avatar{
    display: flex;
}
.review-img{
    width: 100px;
   
}
.section-four{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px;
}
input[type="email"]{
    width:500px;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}
input[type="name"]{
    width:500px;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}
input[type="text"]{
    width:500px;
    height: 150px;
    border-radius: 10px;
    background-color: aliceblue;
}
textarea{
    width:500px;
    height: 200px;
    border-radius: 10px;
    background-color: aliceblue;
}
.section-four-h1{
    font-size:100px;
}

.footer-h1{
    color:#4E47FF;
    text-align: center;
    font-size: 60px;
}

.footer-p{
    text-align: center;
}
.footer-ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    gap:0px;
}
footer{
    padding: 50px;
}

.footer-li{
  margin-left: 100px;
  margin-right: 100px;
}
.Launch-live-button-two{
    background-color:#4E47FF;
    width: 600px;
    border-radius: 10px;
    height: 200px;
}
